[defaults]
inventory = ./hosts
duplicate_dict_key = error
roles_path    = ./roles
#remote_user = root # If not using your username

[inventory]

[privilege_escalation]

[paramiko_connection]

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=accept-new

[persistent_connection]

[accelerate]

[selinux]

[colors]

[diff]
