use utf8;

# Any configuration directives you include  here will override
# RT's default configuration file, RT_Config.pm
#
# To include a directive here, just copy the equivalent statement
# from RT_Config.pm and change the value. We've included a single
# sample value below.
#
# If this file includes non-ASCII characters, it must be encoded in
# UTF-8.
#
# This file is actually a perl module, so you can include valid
# perl code, as well.
#
# The converse is also true, if this file isn't valid perl, you're
# going to run into trouble. To check your SiteConfig file, use
# this command:
#
#   perl -c /path/to/your/etc/RT_SiteConfig.pm
#
# You must restart your webserver after making changes to this file.
#

# You may also split settings into separate files under the etc/RT_SiteConfig.d/
# directory.  All files ending in ".pm" will be parsed, in alphabetical order,
# after this file is loaded.

# You must install Plugins on your own, this is only an example
# of the correct syntax to use when activating them:
#     Plugin( "RT::Authen::ExternalAuth" );

Set( $DatabaseName, '{{rt_database_name}}' );
Set( $DatabasePassword, '{{rt_database_password}}' );
Set( $DatabaseType, '{{rt_database_type}}' );
Set( $DatabaseUser, '{{rt_database_user}}' );
Set( $LogToSyslog, '{{rt_log_to_syslog}}');
Set( $LogToSTDERR, '{{rt_log_to_stderr}}');
Set( $Organization, '{{ request_tracker_hostname }}.{{ request_tracker_domain }}');
Set( $rtname, '{{ request_tracker_hostname }}.{{ request_tracker_domain }}' );
Set( $WebDomain, '{{ request_tracker_hostname }}.{{ request_tracker_domain }}' );
Set( $WebPort, '{{rt_web_port}}' );
Set( $Timezone, 'UTC');

# This part is generated by running sbin/rt-setup-fulltext-index --noask --dba root --dba-password ""
Set( %FullTextSearch,
    Enable     => 1,
    Indexed    => 1,
    Table      => 'AttachmentsIndex',
);

# Save attachments to filesystem. This is not compatible with shredder
#Set(%ExternalStorage,
#    Type => 'Disk',
#    Path => '{{ rt_installation_directory }}var/attachments',
#);

# Turn off optional features that require additional configuration.
# If you want to use these, refer to the RT_Config documentation for
# instructions on how to set them up.
Set(%GnuPG, 'Enable' => '0');
Set(%SMIME, 'Enable' => '0');

# Verify this file with `perl -c {{ rt_installation_directory }}etc/RT_SiteConfig.pm`
# Perl expects to find this 1 at the end of the file.
1; 